/*
Styles page.php.

@since 0.1.0
*/
@import "../settings";

$section-gutter: 50px;
$icon-size: 75px;

body.home {
  #home-buckets {
    margin-top: 50px;
    margin-bottom: 50px;

    .bucket {
      color: #F2F2F2;
      border: 3px solid;
      position: relative;
      text-align: center;
      transition: color 300ms;
      cursor: pointer;
      z-index: 1;

      &:hover {
        @media #{$medium-up} {
          z-index: 2;
        }

        &:nth-child(1) {
          color: $bucket-contractors;

          .button {
            background: $bucket-contractors;
          }
        }
        &:nth-child(2) {
          color: $bucket-architects;

          .button {
            background: $bucket-architects;
          }
        }
        &:nth-child(3) {
          color: $bucket-building;

          .button {
            background: $bucket-building;
          }
        }
        &:nth-child(4) {
          color: $bucket-home;

          .button {
            background: $bucket-home;
          }
        }
      }

      .bucket-icon {
        position: absolute;
        top: 0;
        left: 50%;
        width: $icon-size;
        height: $icon-size;
        margin-top: - ($icon-size / 2) - 3px; // 3px accommodates border
        margin-left: - ($icon-size / 2);
        border-radius: 50%;
        background: $light-color;
        padding: 5px;

        &:before {
          content: '';
          position: absolute;
          left: 10%;
          top: 10%;
          display: block;
          border: 3px solid;
          border-radius: 50%;
          width: 80%;
          height: 80%;
        }

        .fa {
          display: inline-block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 25px;
        }
      }

      .bucket-title {
        padding-top: $icon-size / 2;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        color: $dark-color;

        a {
          color: inherit;
        }
      }
    }
  }

  #home-cta {
    .columns {
      border: 3px solid darken($body-bg, 5%);
      padding: 5px;
    }

    .button {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }
  }

  #home-products {
    position: relative;
    background: $primary-color;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("assets/images/random-grey-variations.png");
      opacity: 0.4;
    }

    .button {
      margin: 0;
    }

    .vertical-center {
      @media #{$small-only} {
        margin-top: 0 !important; // Override so it doesn't try to center on small
      }
    }
  }
}