/*
The static site footer.

@since 0.1.0
*/
@import "../settings";

#site-footer {
  margin-top: 30px;

  .primary-nav {
    background: #73ba4a;
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczYmE0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTM2MTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #73ba4a 0%, #213615 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73ba4a), color-stop(100%, #213615));
    background: -webkit-linear-gradient(top, #73ba4a 0%, #213615 100%);
    background: -o-linear-gradient(top, #73ba4a 0%, #213615 100%);
    background: -ms-linear-gradient(top, #73ba4a 0%, #213615 100%);
    background: linear-gradient(to bottom, #73ba4a 0%, #213615 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73ba4a', endColorstr='#213615', GradientType=0);
    margin-bottom: 3px;

    .menu {
      margin: 0;
      list-style: none;
      color: $light-color;
      padding: 0 0.5em;

      > .menu-item {
        position: relative;
        float: left;
        border-right: 3px solid #fff;

        &:hover {
          background: #5e9e3f;
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOWUzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDFlMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top,  #5e9e3f 0%, #101e0b 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e9e3f), color-stop(100%,#101e0b));
          background: -webkit-linear-gradient(top,  #5e9e3f 0%,#101e0b 100%);
          background: -o-linear-gradient(top,  #5e9e3f 0%,#101e0b 100%);
          background: -ms-linear-gradient(top,  #5e9e3f 0%,#101e0b 100%);
          background: linear-gradient(to bottom,  #5e9e3f 0%,#101e0b 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9e3f', endColorstr='#101e0b',GradientType=0 );

          .sub-menu {
            display: block;
          }
        }

        &:first-of-type {
          border-left: 3px solid #fff;
        }

        > a {
          display: block;
          color: inherit;
          padding: 0.5em 1em;
        }
    }
    }

    // Second level deep (max)
    .sub-menu {
      position: absolute;
      bottom: 100%;
      white-space: nowrap;
      list-style: none;
      margin: 0;
      background: $primary-color;
      box-shadow: 0 0 30px rgba(#000, 0.3);
      display: none;

      a {
        display: block;
        color: inherit;
        padding: 0.5em;

        &:hover {
          background: darken($primary-color, 5%);
        }
      }
    }
  }

  .footer-menu {
    color: darken($light-color, 30%);
    font-size: 0.7em;
    padding: 1em 0.5em;
    background: $dark-color;

    a {
      color: inherit;
    }

    ul {
      list-style: none;
      margin: 0;
      font-size: inherit;

      // Only 3rd level deep and on
      ul ul {
        margin-left: 1em;

        // Add dash before third level deep items
        li {
          &:before {
            content: '- ';
          }
        }
      }
    }

    .nav-menu {
      @extend .row;
      @extend .expand;

      // First level
      > .menu-item {
        @extend .columns;
        width: 20%;

        > a {
          font-weight: bold;
          cursor: default;
          font-size: 1.2em;
        }
      }
    }
  }

  .nav-menu-small {
    .accordion-navigation {
      margin-bottom: 10px !important;

      > a {
        background: lighten($dark-color, 15%);
      }

      > .content{
        background: transparent;
      }
    }
  }
}