/*
The static site header.

@since 0.1.0
*/
@import "../settings";

#site-header {
  background: $dark-color;
  padding: 1em 0.5em;
  border-bottom: 3px solid $primary-color;

  .logo {
    width: 150px;
  }

  .social {
    .icon {
      display: inline-block;
      margin: 0 0.1em;
    }

    .fa {
      display: table-cell;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      text-align: center;
      color: #fff;
    }

    .fa-facebook {
      background: #3F5D9A;
    }

    .fa-linkedin {
      background: #0077B5;
    }

    .fa-youtube {
      background: #DE2825;
    }
  }

  .top-nav {
    margin: 0 1em;

    .menu {
      margin: 0;
    }

    .menu-item {
      display: inline-block;
      color: $light-color;
      font-size: 0.8em;

      &:not(:first-of-type):before {
        content: ' | ';
        margin: 0 0.5em;
      }

      a {
        color: inherit;
      }
    }
  }

  .search-form {
    .search-field {
      width: 100%;
    }
  }

  .phone {
    text-align: right;
    color: $light-color;
    font-weight: bold;
    font-size: 2em;
  }

  .bible-verse {
    text-align: right;
    color: $light-color;
    font-style: italic;
    font-size: 0.8em;
  }
}